body{
    margin: 0;
    padding: 0%;
    background-color:rgb(214, 228, 236);
}
/*head Bar*/
.head{
    position: relative;
    left: 10px;
    color: rgb(240, 249, 255);
}
nav{
    margin: 0%;
    padding:0;
}
.head-bar {
	/*text-align: center;*/
	color: white;
	text-shadow: 1px 1px 1px black;
	height: 45px;
	background-color:rgb(82, 77, 77);
}



.mainPage{
    display: inline;
    text-decoration: none;
    margin-right: 10%;
    color: white;
}


.menu{
    display: inline;
    text-decoration: none;
    margin-right: 10%;
}
.web:hover{
    font-weight: bolder;
    color: white;
}
.web{
    text-decoration: none;
    font-weight: lighter;
    color: rgb(228, 228, 228);
}
.mainWeb{
    text-decoration: none;
    color: white;
}
/*head Bar*/

/*Name Bar*/
.myName{
    text-align: center;
    vertical-align: middle;
    background: url("images/NameBackGround.jpg"); /*Background image*/
    background-size: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: Georgia, serif;
}
.name{
    position: relative;
    top: 45%;
    color: rgb(82, 82, 82);
}


/*Name Bar*/


/*projects part*/
.projects{
    margin:0;
    padding: 0%;

}
.projectBackground{

    background-color: #00FF00;

}

.projectsColumnL{
    float: left;
    width: 50%;
}

.projectsColumnR{
    float: right;
    width: 50%;
}

.projectLink{
    text-decoration: none;
    color: black;
}
 
.projectsName{
    text-align: center;
    margin-top: 20%;
    
}

.projectsImg{
    height: 80%;
    margin: 10%;
    width: 80%;
}
/*projects part end*/

/* Trip map */
.trip{
    position: relative;
    margin-top: 30%;
}

.tripName{
    text-align: center;
    
}
.tripImg{
    position: relative;
    left: 10%;
    height: 80% ;
    width: 80%;
}

/*  contact information  */
.contactInfo{
    text-align: center;
}

/*clear float format misconduct*/
.clear{
    clear: both;
    height: 0px;
}